<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/show.css">
  <title>POST IN DETAIL</title>
</head>
<body>
  <h1>HERE IS YOUR POST</h1>
  <p>Post id: <%= post.id %></p>

  <div class="container">
    <div class="post">
      <h3>@<%= post.username %></h3>
      <h4><%= post.content %></h4>
    </div>
  </div>
</body>
</html>
